<ion-content [fullscreen]="true">


  <ion-content [fullscreen]="true">
    <ng-container>
      <div class="header">
        <div class="toolbar">
          <div class="greeting">
            <span>
              Hello, Aakash!
            </span>
          </div>
          <!-- <div class="tools">
            <ion-icon class="tool" size="large" name="menu-outline"></ion-icon>
          </div> -->
        </div>
      </div>

      <!-- <div class="totalquotes">
        <i class="fa fa-group"></i> &nbsp;<span class="quotenumber">120</span><br>
        <div class="space"></div>
        <span class="totallabel">Total Quotes Generated</span>
      </div> -->

      <div class="heading">
        <span class="pastquotes">History</span>
      </div>
      <div class="search">
        <span class="placeholder"><i class="fa">&#xf002;</i> &nbsp; Search for past quotes</span>
      </div>
      <div class="tabs">
        <button class="button">This Week</button>
        <button class="button">This Month</button>
        <button class="button">Last Month</button>
      </div>

      <!-- <div class="card">
        <div class="options">
          <span class="name"><i class="fa">&#xf007;</i> &nbsp;Amit Kumar</span>
          <span class="shareicon"><i class="fa">&#xf1e0;</i></span>
        </div>
        <span class="mobileno"><i class="fa">&#xf095;</i> &nbsp; 9877889966 &nbsp; <i class="fa">&#xf073;</i>
          8/12/2023</span>


        <div class="cost">
          <div class="premium">
            <div class="pricediv">
              <span class="price"><i class="fa symbol">&#xf156;</i> 9,162 <span class="year">/yr</span></span><br>
            </div>
            <span>Cover: <span class="red">5 Lakh</span> &nbsp; Tenure: <span class="red">1 yea</span>r</span>
          </div>
          <div class="action">
            <button class="buybutton"><span class="label">Buy Now</span></button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="options">
          <span class="name"><i class="fa">&#xf007;</i> &nbsp;Amit Kumar</span>
          <span class="shareicon"><i class="fa">&#xf1e0;</i></span>
        </div>
        <span class="mobileno"><i class="fa">&#xf095;</i> &nbsp; 9877889966 &nbsp; <i class="fa">&#xf073;</i>
          8/12/2023</span>


        <div class="cost">
          <div class="premium">
            <div class="pricediv">
              <span class="price"><i class="fa symbol">&#xf156;</i> 9,162 <span class="year">/yr</span></span><br>
            </div>
            <span>Cover: <span class="red">5 Lakh</span> &nbsp; Tenure: <span class="red">1 yea</span>r</span>
          </div>
          <div class="action">
            <button class="buybutton"><span class="label">Buy Now</span></button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="options">
          <span class="name"><i class="fa">&#xf007;</i> &nbsp;Amit Kumar</span>
          <span class="shareicon"><i class="fa">&#xf1e0;</i></span>
        </div>
        <span class="mobileno"><i class="fa">&#xf095;</i> &nbsp; 9877889966 &nbsp; <i class="fa">&#xf073;</i>
          8/12/2023</span>


        <div class="cost">
          <div class="premium">
            <div class="pricediv">
              <span class="price"><i class="fa symbol">&#xf156;</i> 9,162 <span class="year">/yr</span></span><br>
            </div>
            <span>Cover: <span class="red">5 Lakh</span> &nbsp; Tenure: <span class="red">1 yea</span>r</span>
          </div>
          <div class="action">
            <button class="buybutton"><span class="label">Buy Now</span></button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="options">
          <span class="name"><i class="fa">&#xf007;</i> &nbsp;Amit Kumar</span>
          <span class="shareicon"><i class="fa">&#xf1e0;</i></span>
        </div>
        <span class="mobileno"><i class="fa">&#xf095;</i> &nbsp; 9877889966 &nbsp; <i class="fa">&#xf073;</i>
          8/12/2023</span>


        <div class="cost">
          <div class="premium">
            <div class="pricediv">
              <span class="price"><i class="fa symbol">&#xf156;</i> 9,162 <span class="year">/yr</span></span><br>
            </div>
            <span>Cover: <span class="red">5 Lakh</span> &nbsp; Tenure: <span class="red">1 yea</span>r</span>
          </div>
          <div class="action">
            <button class="buybutton"><span class="label">Buy Now</span></button>
          </div>

        </div>
      </div> -->


    </ng-container>
  </ion-content>
</ion-content>