

<ion-content [fullscreen]="true">
<br>
<br>
<!-- <button class="backinmenu"> Back</button> -->
    <div class="avatarlarge">
       <img  src="assets/images/largeavatar.png">
    </div>
    <br>
    <br>
    <div class="row3">
        <span> Personal Information</span>
        <br>
        <br>
        <div class="redline">
        </div>
    </div>
    <br>
    
<div class="row2">
    <span> Name : Swarup Jain</span>
</div>
<div class="row2">

    <span> Mobile : 989898**</span>
</div>
<div class="row2">
    <span> IMDCODE : 53003</span>
</div>
<div class="row2">
    <span> Email : Swarup****@gmail.com</span>
</div>




</ion-content>
<ion-footer>
    <button class="logout"  (click)="logout()" >Log Out</button>
</ion-footer>