
$red: rgb(211, 31, 31);
$lightpink: rgb(249, 211, 219);
$blue: rgb(226, 227, 237);
$lightblue: rgb(230, 231, 241);
$lightblack: rgb(129, 128, 128);

.row {
    margin: 25px 16px 20px 16px;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 18px;
    font-weight: 700;
    color: rgb(59, 59, 59);
}

// .information {
//     background-color: rgb(233, 234, 243);
//     margin: 5px;
//     border-radius: 5px;
// }

.fa.edit {
    font-size: 16px;
    color: rgb(198, 15, 15);
}

.members {
    margin: 10px 8px 30px 8px;
    border: 1px solid rgb(241, 242, 252);
    border-radius: 5px;
    min-height: 90px;
}

.toolbar {}

.toolbar2 {
    padding: 3px 10px 3px 0px;
    display: flex;
    justify-content: space-between;
}

.insuring {
    font-size: 12px;
    font-weight: 700;
}

.self {
    font-size: 12px;
    font-weight: 700;
    color: $red;
}

.family {
    margin: 0px 16px 0px 16px;
    display: flex;
    justify-content: center;
}

.multi {
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}

.fa.tick {
    font-size: 20px;
    
    color: $red;
}

.policytick {
    height: 20px;
    width: 20px;
}

.floater {
    font-size: 14px;
}

.select {
    font-size: 13px;
    font-weight: 700;
    margin: 20px 16px 0px 16px;
    color: rgb(219, 64, 64);

}

.select2 {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 40px 10px 40px;
    color: rgb(85, 85, 85);

}

.tenure {
    margin: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}

.year {
    width: 27%;
    height: 80px;
    margin: 10px 10px 0px 10px;
    // border: 1px solid red;
    text-align: center;
    display: block;
}

.selected {
    border: 2px solid rgb(183, 10, 10);
    border-radius: 5px;
}

.yearsone {
    margin: 5px 0px 5px 0px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(200, 9, 9);

}

.years {
    margin: 5px 0px 5px 0px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(100, 99, 99);
}

.fa.rupee {}

.price {
    margin: 5px 0px 5px 0px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(104, 104, 104);
}

.off {
    color: rgb(9, 169, 9);
    font-size: 13px;
    font-weight: 700;

}

.yr {
    font-size: 13px;
}

.space1 {
    height: 4px;
}

.space2 {
    height: 3px;
}

.selecttenure {
    margin: 5px 20% 0px 20%;
    font-weight: 700;
    color: rgb(72, 71, 71);
}

.selectsum {
    margin: 0px 60px 10px 60px;
    font-weight: 700;
    color: rgb(72, 71, 71);
    background-color: rgb(236, 236, 250);
    border-radius: 5px;
    min-height: 35px;
    padding: 0px 10px 0px 10px ;

}
.note{
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    color: rgb(222, 59, 38);
    text-align: center;
}
.content{
    max-height: 85%;
}

.coversum{
    // width: 50%;
}
.RFclass{
    width: 60%;
}
.rfdiv{
    display: flex;
    justify-content: space-between;
}
.pasum{
width: 60%;
}
