<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<ion-content [fullscreen]="true">
  <div class="header">
    <div class="toolbar">
      <div class="greeting">
        <span><ion-icon name="chevron-back-outline" (click)="prev()"></ion-icon> &nbsp;
          Plan Details
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="heading">
      <span>Summary</span>
    </div>
    <div>
      <button class="sharebutton"><i class="fa edit">&#xf044;</i></button>
    </div>
  </div>

  <!-- <div class="row3">
    <div class="members">
      <span class="light">Members</span><br>
      <span class="strong">Self, Spouse, Kid 1</span>
    </div>
    <div class="cover">
      <span class="light">Cover</span><br>
      <span class="strong">10 Lacs</span>

    </div>
    <div class="tenure">
      <span class="light">Tenure</span><br>
      <span class="strong">3 years</span>
    </div>
  </div> -->

  <div class="plantitle">
    <span>Active Health Platinum Enhanced</span>
  </div>

  <div class="card2">
    <div class="icon"><img src="assets/images/vehicle.png"> </div>
    <div class="name"><span>Post-hospitalization Medical Expenses</span></div>
    <div class="arrow"><ion-icon name="chevron-down-outline"></ion-icon></div>
  </div>
  <div class="card2">
    <div class="icon"><img src="assets/images/vehicle.png"> </div>
    <div class="name"><span>Post-hospitalization Medical Expenses</span></div>
    <div class="arrow"><ion-icon name="chevron-down-outline"></ion-icon></div>
  </div>
  <div class="card2">
    <div class="icon"><img src="assets/images/vehicle.png"> </div>
    <div class="name"><span>Post-hospitalization Medical Expenses</span></div>
    <div class="arrow"><ion-icon name="chevron-down-outline"></ion-icon></div>
  </div>
  <div class="card2">
    <div class="icon"><img src="assets/images/vehicle.png"> </div>
    <div class="name"><span>Post-hospitalization Medical Expenses</span></div>
    <div class="arrow"><ion-icon name="chevron-down-outline"></ion-icon></div>
  </div>

  <div class="next">
    <button class="proceed" (click)="next()">Next</button>
  </div>




</ion-content>