<ion-content>

<div class="header">
  <div class="toolbar">
    <div class="greeting">
      <span><ion-icon name="chevron-back-outline" (click)="prev()"></ion-icon> &nbsp;
        New Quote
      </span>
    </div>
  </div>
</div>



  <!-- <div class="row2">
    <div class="select">
      <ion-select label="Tenure :" (ionChange)="setTenure($event)" interface="popover" placeholder="1 year">
        <ion-select-option value="1year">1 year</ion-select-option>
        <ion-select-option value="2year">2 year</ion-select-option>
        <ion-select-option value="3year">3 year</ion-select-option>
      </ion-select>
    </div>
    <div class="select">
      <ion-select label="Sum Insured :" interface="popover" (ionChange)="setSI($event)" placeholder="1 Lacs">
        <ion-select-option value="100000">1 Lacs</ion-select-option>
        <ion-select-option value="200000">2 Lacs</ion-select-option>
        <ion-select-option value="500000">5 Lacs</ion-select-option>
        <ion-select-option value="700000">7 Lacs</ion-select-option>
        <ion-select-option value="1000000">10 Cr</ion-select-option>
      </ion-select>
    </div>
    <div class="filter">
      <i class="fa">&#xf0b0;</i>
    </div>
  </div> -->



  <div class="heading1">
    <span>Select Product</span>
  </div>

  <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Activ One MAX</span>
        </div>
        <div class="shareicon">
          <!-- <button class="sharebutton"><i class="fa share">&#xf1e0;</i></button> -->
        </div>
      </div>

      <!-- <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          7988*</span><span class="year">/year</span>
      </div> -->

      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <!-- <span class="viewall">View all Features</span> -->
      </div>

      <div class="buttons">
        <!-- <button class="lightbutton">Add to Compare</button> -->
        <button class="darkbutton" (click)="selectActiveOneMass();">Select Plan</button>
      </div>
    </div>

    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Activ One VYTL</span>
        </div>
        <div class="shareicon">
        </div>
      </div>

      <!-- <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          7803*</span><span class="year">/year</span>
      </div> -->

      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <!-- <span class="viewall">View all Features</span> -->
      </div>

      <div class="buttons">
        <!-- <button class="lightbutton">Add to Compare</button> -->
        <button class="darkbutton" (click)="selectActiveOneVytl();">Select Plan</button>
      </div>
    </div>

    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div>


  <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Activ Health Platinum Enhanced </span>
        </div>
        <div class="shareicon">
          <!-- <button class="sharebutton"><i class="fa share">&#xf1e0;</i></button> -->
        </div>
      </div>
      <!-- <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          10831*</span><span class="year">/year</span>
      </div> -->
      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <!-- <span class="viewall">View all Features</span> -->
      </div>
      <div class="buttons">
        <button class="darkbutton" (click)="next();selectPlatinumEnhanced()">Select Plan</button>
      </div>
    </div>
    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div>



  <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Activ Health Platinum Essential </span>
        </div>
        <div class="shareicon">
          <!-- <button class="sharebutton"><i class="fa share">&#xf1e0;</i></button> -->
        </div>
      </div>

      <!-- <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          7375*</span><span class="year">/year</span>
      </div> -->

      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <!-- <span class="viewall">View all Features</span> -->
      </div>

      <div class="buttons">

        <!-- <button class="lightbutton">Add to Compare</button> -->
        <button class="darkbutton" (click)="next();selectPlatinumEssential()">Select Plan</button>
      </div>
    </div>

    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div>



  <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Activ Health Platinum Premiere </span>
        </div>
        <div class="shareicon">
          <!-- <button class="sharebutton"><i class="fa share">&#xf1e0;</i></button> -->
        </div>
      </div>

      <!-- <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          10140*</span><span class="year">/year</span>
      </div> -->

      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <!-- <span class="viewall">View all Features</span> -->
      </div>

      <div class="buttons">
        <!-- <button class="lightbutton">Add to Compare</button> -->
        <button class="darkbutton" (click)="next();selectPlatinumPremiere()">Select Plan</button>
      </div>
    </div>

    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div>

  <!-- <div class="card">
    <div class="content">
      <div class="titlebar">
        <div class="plantitle">
          <span>Active One Nxt</span>
        </div>
        <div class="shareicon">
          <button class="sharebutton"><i class="fa share">&#xf1e0;</i></button>
        </div>
      </div>

      <div class="premium">
        <span class="price"><i class="fa rupee">&#xf156;</i>
          6862*</span><span class="year">/year</span>
      </div>

      <div class="features">
        <span class="feature">No Room Rent Limit</span>&nbsp;
        <span class="feature">Pre-Hospitalization Covered</span>&nbsp;
        <span class="feature">No Claim Bonus</span>&nbsp;
        <span class="feature">Free Health Checkups</span>&nbsp;
        <span class="feature">Restoration Benifits</span>&nbsp;
        <span class="viewall">View all Features</span>
      </div>

      <div class="buttons">
        <button class="darkbutton" (click)="selectActiveOneNXT();">Select Plan</button>
      </div>
    </div>

    <div class="discountnote">
      <span class="discountspan">10% off on 3 years tenure</span>
    </div>
  </div> -->




</ion-content>
